[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/.oh-my-zsh/custom/plugins/cd-bookmark"]
	path = .zsh/.oh-my-zsh/custom/plugins/cd-bookmark
	url = https://github.com/mollifier/cd-bookmark.git
